<a class="navbar-brand" href="/">
  <%= if site_logo(@alkemist_app) do %>
    <img src='<%= static_path(@conn, "/images/#{site_logo()}") %>'>
  <% else %>
    <%= site_title(@alkemist_app) %>
  <% end %>
</a>
