<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <title><%= site_title(@alkemist_app) %></title>
    <% {mod, template} = styles_view(@alkemist_app) %>
    <%= render mod, template, conn: @conn %>
</head>
<body class="<%= if assigns[:body_class] do @body_class end %> app header-fixed sidebar-fixed sidebar-md-show <%= if assigns[:show_aside] do "aside-menu-show" end %>">
      <%= render "_header.html", assigns %>
      <div class="app-body">
        <% {mod, template} = sidebar_view(@alkemist_app) %>
        <%= render mod, template, assigns %>

        <main role="main" class="main">
          <div class="container-fluid">
            <%= render "_flash.html", assigns %>
            <%= render @view_module, @view_template, assigns %>
          </div>
        </main>
        <% {mod, template} = aside_view(@alkemist_app) %>
        <%= render mod, template, assigns %>
      </div>
    <% {mod, template} = scripts_view(@alkemist_app) %>
    <%= render mod, template, assigns %>
  </body>
</html>
