<div class="row filters">
  <div class="col">
    <div class="card mx-1">
      <div class="card-header">
        <h5>Filter</h5>
      </div>
      <div class="card-body">
        <%= filter_form(@conn, @rummage, filters: @filters, struct: @struct) %>
      </div>
    </div>
  </div>
</div>