.filters {
  .card {
    margin-top: 1rem;
  }
  .card-header {
    padding: 0.2rem 1.25rem;
    h5 {
      margin-bottom: 0;
    }
  }
  label {
    font-size: .8rem;
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: .5rem;
  }
}