/* IBM Plex Sans (variable, weights 400-600) and IBM Plex Mono, latin subset.
 * SIL Open Font License 1.1, see priv/static/assets/fonts/OFL.txt.
 * Loaded by the prebuilt bundle only; mode B hosts serve their own font files. */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url("./fonts/IBMPlexSans-Variable-latin.woff2") format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/IBMPlexMono-400-latin.woff2") format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/IBMPlexMono-500-latin.woff2") format("woff2");
}
