@import "variables";
$fa-font-path: '../fonts';
@import "fontawesome";
@import "solid";
@import "bootstrap";
@import "coreui-standalone";
@import "node_modules/select2/src/scss/core";
@import "datepicker";
@import "header";
@import "index";
@import "panels";
@import "filters";

.datepicker-container {
  z-index: 1020 !important;
}

.main-content {
  margin-top: 1rem;
}