<div class="row pagination-row">
  <div class="col-3">
    <span class="index-results-count">
      Showing <%= Enum.count(@entries) %> of <%= @pagination.total_count %>
    </span>
  </div>

  <div class="col-6">
    <%= pagination_links(@conn, @pagination, @resource) %>
  </div>
  <div class="col-3">
    <%= per_page_links(@conn, @pagination, @resource) %>
  </div>
</div>
