<div class="mt-3">
  <% {view, partial} = @form_partial %>
  <% params = [@conn, :update] ++ @route_params ++ [@resource]%>
  <%= render(view, partial, Map.put(assigns, :action, action_path(@conn, @struct, params))) %>
</div>
