<h1>New <%= @singular_name %></h1>

<%= if @form_partial do %>
  <% {view, partial} = @form_partial %>
  <% params = [@conn, :create] ++ @route_params %>
  <%= render(view, partial, Map.put(assigns, :action, action_path(@struct, params, @alkemist_app))) %>
<% end %>